---
import TitleHeader from "./TitleHeader.astro";
import ActivityIcon from "./icons/ActivityIcon.astro";
---

<section>
  <TitleHeader title="Activity">
    <ActivityIcon />
  </TitleHeader>
  <img
    height="200"
    src="https://github-readme-stats.vercel.app/api/wakatime?username=diegps&api_domain=wakapi.dev&bg_color=fafffe&title_color=2F855A&icon_color=2F855A&text_color=17b890&custom_title=Trabajado%20esta%20semana&layout=compact"
    alt="En esta parte muestro una grafica de las tecnologias que voy empleando de forma semanal por ejemplo 1 hora de JavaScript, 2 horas de Zig o simplemente decir que ciertas tecnologias o lenguajes he usado en esa semana."
  />
</section>
<style>
  img {
    width: 100%;
    height: 100%;
    margin-top: 1rem;
  }
</style>
