---
---

<footer>
	<section class="social-links">
		<a href="https://linkedin.com/in/d7egps" target="_blank">
            LinkedIn
		</a>
		<a href="https://github.com/D7EGPS" target="_blank">
            Github
		</a>
	</section>
</footer>
<style>
footer {
	padding: 2em 1em 6em 1em;
	text-align: center;
}
.social-links {
	display: flex;
	justify-content: center;
	gap: 1em;
	margin-top: 1em;
}
.social-links a {
	text-decoration: none;
}
.social-links a:hover {
    transform: scale(1.1);
}
</style>