---

---

<footer>
  <section class="social-links">
    <a href="https://linkedin.com/in/diegps" target="_blank"> LinkedIn</a>
    <a href="https://github.com/diegps" target="_blank"> Github</a>
  </section>
</footer>
<style>
  footer {
    padding: 2em 1em 4em 1em;
    text-align: center;
  }
  .social-links {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
  }
  .social-links a {
    text-decoration: none;
  }
  .social-links a:hover {
    transform: scale(1.1);
    color: var(--accent-color-secondary);
    transition: transform 0.2s ease-in-out;
  }
</style>
