---
import SocialAnchor from "./SocialAnchor.astro";
import LinkedIn from "./icons/LinkedIn.astro";
import Github from "./icons/Github.astro";
---

<section>
  <h1>Diego Pahua Silvan</h1>
  <p>Full Stack Developer</p>

  <div class="social-media">
    <SocialAnchor href="www.linkedin.com/in/DiegPS">
      <LinkedIn />
       LinkedIn
    </SocialAnchor>
    <SocialAnchor href="www.github.com/DiegPS">
      <Github />
       GitHub
    </SocialAnchor>
    <SocialAnchor href="mailto:dpahuas@gmail.com">
      <LinkedIn />
       GitHub
    </SocialAnchor>
  </div>
</section>
<style>
  .social-media {
    padding: 1rem;
    display: flex;
    gap: 1rem;
  }
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
  }

  h1 {
    text-align: center;
    font-size: 3rem;
  }

  p {
    font-size: 1.5rem;
  }
</style>
