---
import SocialSection from "../components/SocialSection.astro";
---

<div>
  <img
    src="/picture.webp"
    alt="foto de frente de desarrollador web full stack creador de el este portafolio"
  />
  <section>
    <h1>Diego Pahua Silvan</h1>
    <h2>Full Stack Developer</h2>
    <p class="location">🇲🇽 Tabasco, México</p>
    <SocialSection />
  </section>
</div>

<style>
  div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
  }
  img {
    width: 23rem;
    height: 23rem;
    border-radius: 50%;
  }
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }

  h1 {
    text-align: center;
    font-size: 3rem;
  }

  p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }
</style>
