---

---

<nav>
  <a href="/">Home</a>
  <a href="/blog">Blog</a>
</nav>
<style>
  nav {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    letter-spacing: 1.2px;
    display: flex;
    list-style: none;
  }
  a {
    text-decoration: none;
    font-size: 1.2rem;
  }
  a:hover {
    transform: scale(1.2);
    color: var(--accent-color-tertiary);
    transition: all 0.3s ease-in-out;
  }
</style>
