---
const {post} = Astro.props
---
<article>
    <a href={`blog/${post.slug}`}>{post.data.title}</a>
    <p>{post.data.description}</p>
</article>

<style>
    article {
        margin: 0 2rem 1rem 2rem;
        border: var(--accent-color) 1px solid;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    a{
        color: var(--text-dark);
        font-size: 1.5rem;
        font-weight: bold;
    }
</style>