---
const { post } = Astro.props;
---

<a href={`blog/${post.slug}`}>
    <article>
        <h3>{post.data.title}</h3>
        <p>{post.data.description}</p>
    </article>
</a>

<style>
    p {
        font-weight: 400;
    }
    article {
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        min-height: 10rem;
        backdrop-filter: blur(50px);
        border-radius: 20px;
    }
    article:hover {
        filter: brightness(1.1);
        transition: all 0.2s ease-in-out;
    }
    a {
        color: var(--text-dark);
        font-size: 1.3rem;
        font-weight: bold;
    }
    a:hover {
        transition: all 0.2s ease-in-out;
        color: var(--accent-color);
    }
</style>
