---
import Code from "./icons/Code.astro";
---

<section>
  <h2><Code class="icon-projects" /> Proyectos</h2>
  <article>
    <h3>Proyecto 1</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam,
      voluptatum.
    </p>
  </article>
  <article>
    <h3>Proyecto 2</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  </article>
</section>

<style>
  .icon-projects {
    width: 2.4rem;
    height: 2.4rem;
  }
  div {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  h2 {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 2rem;
    color: var(--accent-color);
  }
  h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  article {
    padding: 1rem;
    border-radius: 10px;
  }
</style>
