---

---

<section>
  <h2>Proyectos</h2>
  <article>
    <h3>Proyecto 1</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam,
      voluptatum.
    </p>
  </article>
  <article>
    <h3>Proyecto 2</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam,
      voluptatum.
    </p>
  </article>
</section>

<style>
  h2 {
    font-size: 2rem;
    color: var(--accent-color-tertiary);
    margin-bottom: 1rem;
  }
  h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  article {
    padding: 2rem;
    border: 1px solid var(--accent-color);
    border-radius: 10px;
  }
</style>
