---
import TitleHeader from "./TitleHeader.astro";
import Code from "./icons/Code.astro";
---

<section>
  <TitleHeader title="Proyectos">
    <Code class="icon-projects" />
  </TitleHeader>
  <article>
    <h3>Proyecto 1</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam,
      voluptatum.
    </p>
  </article>
  <article>
    <h3>Proyecto 2</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  </article>
</section>

<style>
  .icon-projects {
    width: 2.4rem;
    height: 2.4rem;
  }
  h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  section {
    display: flex;
    flex-direction: column;
  }
  article {
    display: flex;
    flex-direction: column;
  }
  @media (max-width: 900px) {
    section {
      padding: 0.6rem;
    }
  }
</style>
