---
const { title } = Astro.props;
---

<h2>
    <slot />
    {title}
</h2>

<style>
    h2 {
        display: flex;
        align-items: center;
        gap: 1rem;
        font-size: 2rem;
        color: var(--accent-color);
    }
</style>
