---
const { frontmatter } = Astro.props;
import BaseLayout from "./BaseLayout.astro";
const cleanTitle = frontmatter.title.replace(/-/g, " ");
---

<BaseLayout pageTitle={cleanTitle}>
  <main>
    <h2>{frontmatter.title}</h2>
    <p>{frontmatter.description}</p>
    <slot />
  </main>
</BaseLayout>

<style>
  @media (max-width: 900px) {
    main {
      margin: 0rem 0.6rem 0rem 0.6rem;
    }
  }
</style>
